.root {
  padding: 0 30px;
}

.green {
  color: #01c483;
}

.blue {
  color: #098d8d;
}

.grey {
  color: #808080;
}

.green-bg {
  background-color: #01c483;
}

.orange-bg {
  background-color: #e67214;
}

.red-bg {
  background-color: #cf0707;
}

.make-root {
  padding: 30px 0;
  border-bottom: 1px solid #7a757526;
}

.make-root .title {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.make-root .title .title-important {
  font-size: 12px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  margin-right: 10px;
}

.make-root .description {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.make-root .detail-root {
  display: flex;
  justify-content: space-between;
}

.make-root .detail-root .left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-right: 20px;
}
.make-root .detail-root .left-part .left-part-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.make-root .detail-root .left-part .left-part-item .item-name {
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.make-root .detail-root .left-part .left-part-item .item-percent {
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.make-root .detail-root .right-part {
  width: 60%;
  border-top: 8px solid #01c483;
}

.make-root .detail-root .right-part .right-part-item {
  display: flex;
  padding: 10px 0;
}

.make-root .detail-root .right-part .right-part-item .item-front {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.make-root .detail-root .right-part .right-part-item .item-front .item-name {
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.make-root
  .detail-root
  .right-part
  .right-part-item
  .item-front
  .item-name
  .item-square {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.make-root .detail-root .right-part .right-part-item .item-front .item-count {
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.make-root .detail-root .right-part .right-part-item .item-last {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
}
